.addition-container {
  margin-top: 5vh;
  button.waves-effect.waves-light.btn {
    font-size: 5em;
    margin: 0 2vw;
    padding: 0.5em 1em 1em 1em;
  }
}

#answer {
  padding: 0.5em 0;
  font-size: 5em;
  color: purple;
}
